In [27]:
from pymongo import MongoClient
import pandas as pd
import pprint
import json
import pandas as pd
import requests

In [28]:
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [29]:
not_dead = db.companies.find({"$and": [ {"offices":{"$not":{"$size":0}}}, {"deadpooled_year":None } ] })

In [30]:
df_entry = pd.DataFrame(not_dead)
df = df_entry.copy()
df.dropna(how='any')
df.shape
df.columns

Index(['_id', 'acquisition', 'acquisitions', 'alias_list', 'blog_feed_url',
       'blog_url', 'category_code', 'competitions', 'created_at',
       'crunchbase_url', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url', 'deadpooled_year', 'description', 'email_address',
       'external_links', 'founded_day', 'founded_month', 'founded_year',
       'funding_rounds', 'homepage_url', 'image', 'investments', 'ipo',
       'milestones', 'name', 'number_of_employees', 'offices', 'overview',
       'partners', 'permalink', 'phone_number', 'products', 'providerships',
       'relationships', 'screenshots', 'tag_list', 'total_money_raised',
       'twitter_username', 'updated_at', 'video_embeds'],
      dtype='object')

In [31]:
def getLatLong(data):
    data = data['offices']
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "latitud": data[0]['latitude'],
        "longitud": data[0]['longitude'],
    }

latlong_office = df[["offices"]].apply(getLatLong, result_type="expand", axis=1)
# Y ahora mergeo con la tabla anterior y me quedo con estas columnas:
df = pd.concat([df,latlong_office], axis=1)[['_id',"name",
                                                   "latitud","longitud",'category_code',
                                                   'created_at','total_money_raised',
                                                   'description','number_of_employees',
                                                  'offices','funding_rounds']]

In [32]:
def RemoveWhiteSpaces(row):
    row = str(row)
    row = row.replace(" ","")
    return row
df['total_money_raised'] = df['total_money_raised'].apply(RemoveWhiteSpaces)

In [33]:
df['currency'] = df['total_money_raised'].str[0]
df['total_money_raised'] = df['total_money_raised'].str[1:]

In [34]:
def ChangeNonNumeric(row):
    row = str(row)
    try:
        if "B" in row:
            row = row.replace("B", "")
            row = float(row)*1000000000
        elif "M" in row:
            row = row.replace("M", "")
            row = float(row)*1000000
            
            
            
        elif "k" in row:
            row = row.replace("k", "")
            row = float(row)*1000
    except: row=None
    return row

In [35]:
df['total_money_raised'] = df['total_money_raised'].apply(ChangeNonNumeric)

In [128]:
def change_string(row):
    row = str(row)
    return row
def merge_currency_columns(df):
    df['currency'] = df['currency'].apply(change_string)
    df['total_money_raised'] = df['total_money_raised'].apply(change_string)
    df['currency_n'] = df['total_money_raised'] + df['currency']
    return df

In [97]:
# EXCHANGE RATE API
url = 'https://api.exchangerate-api.com/v4/latest/USD'
res = requests.get(url)
data = res.json()

In [125]:
def exchangeRate (row):
    row = str(row)
    try:
        if "$" in row:
            row = row.replace("$","")
            row = float(row)*data['rates']['USD']
        if "€" in row:
            row = row.replace("€","")
            row = float(row)*data['rates']['EUR']
        if "£" in row:
            row = row.replace("£","")
            row = float(row)*data['rates']['GBP']
        else:
            row = row.replace("$","")
            row = float(row)*data['rates']['USD']     
    except:
        row = row
    return row

In [126]:
def Apply_exchangeRate():
    df['currency_n'] = df['currency_n'].apply(exchangeRate)

In [130]:
df

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds,currency,currency_n
0,Digg,37.764726,-122.394523,news,Fri May 25 20:03:23 UTC 2007,45000000.0,user driven social content website,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",$,4.5e+07
1,Postini,37.506885,-122.247573,web,Fri Jun 08 12:19:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '959 Skyway...",[],$,0
2,Flektor,34.025958,-118.379768,games_video,Thu May 31 21:11:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '8536 Natio...",[],$,0
3,Geni,34.090368,-118.393064,web,Thu May 31 19:52:34 UTC 2007,16500000.0,Geneology social network site,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''...",$,1.65e+07
4,Fox Interactive Media,34.076179,-118.394170,web,Thu May 31 21:46:57 UTC 2007,0,,0.0,"[{'description': '', 'address1': '407 N Maple ...",[],$,0
5,Gizmoz,37.484130,-122.169472,web,Fri Jun 01 19:32:24 UTC 2007,18100000.0,Photo animation,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h...",$,1.81e+07
6,Helio,34.057498,-118.446596,mobile,Tue Jun 05 21:39:53 UTC 2007,0,Mobile Virtual Network Operator,NaN,"[{'description': None, 'address1': '10960 Wils...",[],$,0
7,StumbleUpon,37.775196,-122.419204,web,2007-06-01 09:28:13,18500000.0,Content discovery service,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",$,1.85e+07
8,Lala,37.451151,-122.154369,games_video,Tue Jun 05 12:20:29 UTC 2007,44200000.0,hub for online music discovery,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '...",$,4.42e+07
9,Slacker,33.022176,-117.081406,music,Mon Jun 04 08:45:22 UTC 2007,73100000.0,Music Personalization Suite,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '...",$,7.31e+07
10,Scribd,37.789634,-122.404052,news,Sat Jun 02 07:34:05 UTC 2007,25800000.0,Read Unlimited Books,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'...",$,2.58e+07
11,MeetMoi,40.757929,-73.985506,social,Thu Jun 07 11:41:44 UTC 2007,5580000.0,Mobile Dating,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '...",$,5.58e+06
12,Joost,40.746497,-74.009447,games_video,Sat Jun 09 07:05:30 UTC 2007,45000000.0,None,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '...",$,4.5e+07
13,Viacom,40.757725,-73.986011,web,Sat Jun 09 07:30:15 UTC 2007,0,TV production,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[],$,0
14,CBS,37.269175,-119.306607,news,Sat Jun 09 07:30:10 UTC 2007,0,,NaN,"[{'description': None, 'address1': '', 'addres...",[],$,0
15,Plaxo,37.387845,-122.055197,web,Sat Jun 09 14:18:54 UTC 2007,28300000.0,Contact Management,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '...",$,2.83e+07
16,Twitter,37.776805,-122.416924,social,Fri Jun 01 08:42:34 UTC 2007,1160000000.0,Real time communication platform,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ...",$,1.16e+09
17,Facebook,37.416050,-122.151801,social,Fri May 25 21:22:15 UTC 2007,2430000000.0,Social network,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",$,2.43e+09
18,eBay,37.295005,-121.930035,web,Wed Jun 06 13:03:13 UTC 2007,6700000.0,Online Marketplace,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '...",$,6.7e+06
19,Powerset,37.778613,-122.395289,search,Mon Jun 11 19:33:13 UTC 2007,22500000.0,,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '...",$,2.25e+07
20,Technorati,37.779558,-122.393041,advertising,Tue Jun 12 04:06:06 UTC 2007,32100000.0,Advertising platform/Publisher network,35.0,"[{'description': '', 'address1': '360 Post St....","[{'id': 23, 'round_code': 'c', 'source_url': '...",$,3.21e+07
21,SpinVox,NaN,NaN,messaging,Wed Dec 05 04:08:03 UTC 2007,106000000.0,Voice to Text service,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':...",$,1.06e+08
22,Mahalo,34.017606,-118.487267,web,Thu Jun 14 03:42:20 UTC 2007,21000000.0,Life long learning content,40.0,"[{'description': '', 'address1': '3525 Eastham...","[{'id': 323, 'round_code': 'a', 'source_url': ...",$,2.1e+07
23,Veoh,32.902266,-117.208340,games_video,Fri Aug 10 08:10:15 UTC 2007,69800000.0,Internet TV service,NaN,"[{'description': '', 'address1': '10180 Telesi...","[{'id': 33, 'round_code': 'b', 'source_url': '...",$,6.98e+07
24,Kyte,37.788482,-122.409173,games_video,Thu Jun 14 18:26:11 UTC 2007,23400000.0,Online & Mobile Video Platform,40.0,"[{'description': None, 'address1': '442 Post S...","[{'id': 32, 'round_code': 'a', 'source_url': '...",$,2.34e+07
25,AddThis,38.926172,-77.245195,advertising,Wed Jun 13 09:00:07 UTC 2007,73000000.0,Content Engagement,120.0,"[{'description': 'HQ - Virginia', 'address1': ...","[{'id': 27, 'round_code': 'a', 'source_url': '...",$,7.3e+07
26,Info,41.885619,-87.622309,web,Wed Aug 22 10:19:09 UTC 2007,8400000.0,None,NaN,"[{'description': None, 'address1': '180 North ...","[{'id': 426, 'round_code': 'a', 'source_url': ...",$,8.4e+06
27,JotSpot,37.437328,-122.159928,web,Wed Aug 22 10:30:16 UTC 2007,5200000.0,None,NaN,"[{'description': None, 'address1': '', 'addres...","[{'id': 427, 'round_code': 'a', 'source_url': ...",$,5.2e+06
28,OpenX,34.149471,-118.132747,advertising,Wed Jun 13 18:23:43 UTC 2007,75500000.0,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$,7.55e+07
29,NetRatings,37.090240,-95.712891,web,Wed Aug 22 10:54:08 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[],$,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12927,Atlantic BT,35.896906,-78.680678,web,Fri Jul 10 19:33:27 UTC 2009,0,"Web Development, Web Design",30.0,"[{'description': 'Main Office', 'address1': '8...",[],$,0
12928,InstantQ,37.369195,-122.036849,advertising,Fri Jul 10 21:41:12 UTC 2009,0,Last Minute Restaurant Deals,3.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 52743, 'round_code': 'seed', 'source_u...",$,0
12929,SEO Sumo,25.723408,-80.306331,public_relations,Fri Jul 10 20:39:39 UTC 2009,0,Strategic SEO Services,5.0,"[{'description': 'Main Office', 'address1': '6...",[],$,0
12930,NextLabs,37.553121,-122.301534,enterprise,Fri Jul 10 22:25:44 UTC 2009,0,Information Risk Management Software,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[],$,0
12931,Xray Imatek,NaN,NaN,biotech,Fri Jul 10 23:31:14 UTC 2009,300000.0,Photon Counting Detectors,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':...",€,267388
12932,Optemo,NaN,NaN,web,Fri Jul 10 23:42:25 UTC 2009,0,Online Shopping Platform,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[],$,0
12933,iGuiders,NaN,NaN,web,Fri Jul 10 22:56:38 UTC 2009,1170000.0,Online Decision Technology,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's...",$,1.17e+06
12934,Treehouse,NaN,NaN,education,Fri Jul 10 20:14:38 UTC 2009,19400000.0,An interactive education platform,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",$,1.94e+07
12935,acrossair,51.517742,-0.116537,mobile,Sat Jul 11 01:56:22 UTC 2009,0,iPhone app house,6.0,"[{'description': '198 High Holborn', 'address1...",[],$,0
12936,Cameron Health,33.448010,-117.607717,medical,Sat Jul 11 03:14:21 UTC 2009,121000000.0,,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':...",$,1.21e+08
12937,Cantimer,37.484616,-122.181753,None,Sat Jul 11 03:35:13 UTC 2009,2000000.0,,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':...",$,2e+06
12938,SolarPower Israel,NaN,NaN,cleantech,Sat Jul 11 05:11:05 UTC 2009,1100000.0,,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's...",$,1.1e+06
12939,Celestial Semiconductor,37.386417,-121.929170,semiconductor,Sat Jul 11 05:48:32 UTC 2009,2000000.0,,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's...",$,2e+06
12940,MyChances,39.394564,-119.812079,consulting,Sat Jul 11 07:10:59 UTC 2009,0,College admissions predictions,2.0,"[{'description': 'Headquarters', 'address1': '...",[],$,0
12941,InSound Medical,37.512038,-121.998513,biotech,Sat Jul 11 07:40:12 UTC 2009,11000000.0,Hearing Devices,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':...",$,1.1e+07
12942,Purfresh,37.477008,-122.151599,cleantech,Sat Jul 11 06:11:39 UTC 2009,62700000.0,,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':...",$,6.27e+07
12943,Getyoo,50.839970,4.346472,mobile,Sat Jul 11 12:38:06 UTC 2009,1130000.0,NFC Events Solutions,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u...",€,1.00716e+06
12944,Eazeeloans,NaN,NaN,web,Sat Jul 11 20:03:01 UTC 2009,0,Loan advisory portal,25.0,"[{'description': 'Apex Finance & Marketing', '...",[],$,0
12945,DocASAP,NaN,NaN,web,Sat Jul 11 23:13:52 UTC 2009,800000.0,Online doctor and dentist appointments,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u...",$,800000
12946,EnterSys Group,29.848779,-95.504545,software,Sun Jul 12 08:17:20 UTC 2009,0,,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[],$,0
12947,Axon Solutions,40.715887,-74.033251,software,Sun Jul 12 08:26:48 UTC 2009,0,,NaN,"[{'description': '', 'address1': '15 Exchange ...",[],$,0
12948,Willdan Group,33.806525,-117.882314,other,Sun Jul 12 08:43:24 UTC 2009,0,,385.0,"[{'description': '', 'address1': '2401 East Ka...",[],$,0
12949,Intergy,37.701940,-121.936698,software,Sun Jul 12 08:36:38 UTC 2009,0,,NaN,"[{'description': '', 'address1': '11875 Dublin...",[],$,0
12950,Contemporary Computer Services,40.775055,-73.088140,software,Sun Jul 12 08:52:57 UTC 2009,0,,NaN,"[{'description': '', 'address1': '200 Knickerb...",[],$,0
12951,QSGI,26.705331,-80.041395,software,Sun Jul 12 08:57:51 UTC 2009,0,,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[],$,0
12952,Oriact,47.088219,8.437163,software,Sun Jul 12 11:47:21 UTC 2009,0,Solutions for software development,NaN,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",[],$,0
12953,AfterLogic,40.793024,-74.323554,software,Sun Jul 12 13:05:23 UTC 2009,0,.NET Email Components and Webmail,NaN,"[{'description': 'Livingston', 'address1': 'P....",[],$,0
12954,Adhunk,NaN,NaN,advertising,Sun Jul 12 12:27:42 UTC 2009,0,Online Admanager,3.0,"[{'description': 'Indian Office', 'address1': ...",[],$,0
12955,EnteGreat Solutions,33.518885,-86.816068,software,Sun Jul 12 14:52:14 UTC 2009,0,,NaN,"[{'description': '', 'address1': '', 'address2...",[],$,0
12956,EnteGreat,33.407786,-86.761302,enterprise,Sun Jul 12 14:53:40 UTC 2009,0,,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '...",$,0