In [1]:
from pymongo import MongoClient
import pandas as pd
import pprint
import json
import pandas as pd
import requests

In [2]:
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [3]:
not_dead = db.companies.find({"$and": [ {"offices":{"$not":{"$size":0}}}, {"deadpooled_year":None } ] })

In [4]:
df_entry = pd.DataFrame(not_dead)
df = df_entry.copy()

In [5]:
df.dropna(how='any')
df.shape

(12957, 42)

In [6]:
df.columns

Index(['_id', 'acquisition', 'acquisitions', 'alias_list', 'blog_feed_url',
       'blog_url', 'category_code', 'competitions', 'created_at',
       'crunchbase_url', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url', 'deadpooled_year', 'description', 'email_address',
       'external_links', 'founded_day', 'founded_month', 'founded_year',
       'funding_rounds', 'homepage_url', 'image', 'investments', 'ipo',
       'milestones', 'name', 'number_of_employees', 'offices', 'overview',
       'partners', 'permalink', 'phone_number', 'products', 'providerships',
       'relationships', 'screenshots', 'tag_list', 'total_money_raised',
       'twitter_username', 'updated_at', 'video_embeds'],
      dtype='object')

In [7]:
def getLatLong(data):
    data = data['offices']
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "latitud": data[0]['latitude'],
        "longitud": data[0]['longitude'],
    }

latlong_office = df[["offices"]].apply(getLatLong, result_type="expand", axis=1)

In [8]:
# Y ahora mergeo con la tabla anterior y me quedo con estas columnas:
df = pd.concat([df,latlong_office], axis=1)[["name",
                                                   "latitud","longitud",'category_code',
                                                   'created_at','total_money_raised',
                                                   'description','number_of_employees',
                                                  'offices','funding_rounds']]

In [9]:
#df_clean = df_clean.dropna(axis=0, subset=['latitud'])
#no lo voy a eliminar > voy a hacer una b√∫squeda poniendo "Main office + nombre de la empresa" a posteriori

In [10]:
df.sort_values(by=['name'])

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds
10788,*faircompanies,41.380327,2.176226,cleantech,Wed May 13 12:02:22 UTC 2009,$0,information & tools on sustainability,3.0,"[{'description': 'Barcelona Headquarters', 'ad...",[]
8721,/community,37.788435,-122.403818,enterprise,Thu Jan 22 15:24:21 UTC 2009,$0,None,NaN,"[{'description': '', 'address1': '16 Maiden La...",[]
6098,1 800 vending,41.043197,-111.967613,other,Mon Sep 29 15:53:16 UTC 2008,$0,None,20.0,"[{'description': '', 'address1': '1284 West Fl...",[]
9008,1-800-905-GEEK,36.852633,-76.192588,consulting,Sat Jan 31 20:56:37 UTC 2009,$0,None,NaN,"[{'description': '', 'address1': '814 Kempsvil...",[]
7564,1000MIKES,53.557184,9.958447,web,Sun Dec 07 21:26:02 UTC 2008,$0,None,5.0,"[{'description': 'Headquarters', 'address1': '...",[]
12732,10East,NaN,NaN,network_hosting,Tue Jul 07 23:27:55 UTC 2009,$0,builds and hosts business intelligence,NaN,"[{'description': 'HQ', 'address1': '1387 Cassa...",[]
3336,10to1,51.171065,4.335390,web,Wed Jun 11 08:51:02 UTC 2008,$0,None,NaN,"[{'description': '', 'address1': 'A. Greinerst...",[]
3592,111pix,51.513353,-0.133926,None,Mon Jun 23 20:23:19 UTC 2008,$0,None,NaN,"[{'description': '', 'address1': '111 Wardour ...",[]
7449,123people,48.199268,16.363999,search,Wed Dec 03 10:16:10 UTC 2008,$0,,NaN,"[{'description': 'Vienna', 'address1': 'Linke ...","[{'id': 9123, 'round_code': 'seed', 'source_ur..."
11716,1366 Technologies,NaN,NaN,manufacturing,Wed Jun 17 08:56:42 UTC 2009,$66.5M,multi-crystalline silicon solar cells,NaN,"[{'description': 'HQ', 'address1': '6-8 Presto...","[{'id': 11808, 'round_code': 'unattributed', '..."
12190,140Ware,18.206634,-67.151757,web,Fri Jun 26 22:45:54 UTC 2009,$0,Twitter-powered microforum,3.0,"[{'description': 'Tweetboard', 'address1': '25...",[]
6803,148Apps,37.775196,-122.419204,software,Mon Nov 10 00:23:17 UTC 2008,$0,,1.0,"[{'description': '', 'address1': '', 'address2...",[]
4146,15Talents,52.521627,13.404620,consulting,Wed Jul 16 15:09:36 UTC 2008,$0,Student Outsourcing,12.0,"[{'description': '15Talents GmbH & Co. KG', 'a...",[]
9223,15secondTV,NaN,NaN,games_video,Thu Feb 12 15:24:36 UTC 2009,$0,None,4.0,"[{'description': '', 'address1': 'Infolab21', ...",[]
5557,18D Information Technology China,NaN,NaN,games_video,Thu Aug 28 07:50:06 UTC 2008,$0,,50.0,"[{'description': 'Office in Shanghai', 'addres...",[]
4970,18D Information Technology China,NaN,NaN,games_video,Thu Aug 28 07:50:06 UTC 2008,$0,,50.0,"[{'description': 'Office in Shanghai', 'addres...",[]
3502,1915 Studios,45.545447,-73.639076,web,Thu Jun 19 17:19:07 UTC 2008,$0,Church Website Builder,2.0,"[{'description': '', 'address1': '', 'address2...",[]
2090,1938 Media,40.757929,-73.985506,None,Tue Apr 08 07:19:11 UTC 2008,$0,None,4.0,"[{'description': None, 'address1': '', 'addres...",[]
4250,1C Company,NaN,NaN,software,Mon Jul 21 16:38:39 UTC 2008,$200M,None,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 25731, 'round_code': 'unattributed', '..."
6150,1FreeCart,37.692400,-97.337500,ecommerce,Thu Oct 02 19:21:41 UTC 2008,$0,None,5.0,"[{'description': '', 'address1': 'P.O. Box 753...",[]
11185,1Scan,51.624306,0.304820,other,Sun May 31 17:04:57 UTC 2009,$0,Photo scanning service,2.0,"[{'description': 'HQ', 'address1': '27 Brentwo...",[]
10487,1calendar,55.677032,12.575128,software,Sun Apr 26 09:47:11 UTC 2009,$40k,Personalized autoupdated calendar system,8.0,"[{'description': 'Headquarter', 'address1': 'K...","[{'id': 5767, 'round_code': 'angel', 'source_u..."
9211,2 Levels Above,33.008010,-96.701991,advertising,Thu Feb 12 06:06:51 UTC 2009,$0,None,NaN,"[{'description': '', 'address1': '801 E. Plano...",[]
11149,2 Minutes,48.850206,2.369803,games_video,Fri May 29 07:03:38 UTC 2009,$1.66M,Animation studio,105.0,"[{'description': '', 'address1': '9 rue biscor...","[{'id': 6212, 'round_code': 'a', 'source_url':..."
1165,2 under entertainment,39.976837,-83.042051,web,Thu Feb 14 19:25:59 UTC 2008,$0,None,4.0,"[{'description': None, 'address1': '1404 gooda...",[]
6123,2020systems,37.775196,-122.419204,advertising,Wed Oct 01 06:33:33 UTC 2008,$0,Internet Advertising Services,NaN,"[{'description': '', 'address1': '', 'address2...",[]
12047,20:20 Mobile,53.084280,-2.423658,mobile,Thu Jun 25 03:43:38 UTC 2009,$29.8M,The new shape of distribution,NaN,"[{'description': '', 'address1': 'Weston Road'...","[{'id': 6913, 'round_code': 'unattributed', 's..."
3823,20DC,40.438355,-80.001983,web,Mon Jun 30 22:46:04 UTC 2008,$0,None,NaN,"[{'description': '', 'address1': '', 'address2...",[]
3305,22Plus Network,NaN,NaN,advertising,Tue Jun 10 15:10:29 UTC 2008,$0,None,NaN,"[{'description': None, 'address1': '24th Pacur...",[]
598,23andMe,37.090240,-95.712891,biotech,Mon Oct 15 17:12:13 UTC 2007,$161M,human genome indexing/application,80.0,"[{'description': '', 'address1': '2606 Bayshor...","[{'id': 764, 'round_code': 'a', 'source_url': ..."
...,...,...,...,...,...,...,...,...,...,...
5103,weRead,NaN,NaN,network_hosting,Fri Sep 05 19:06:10 UTC 2008,$0,,NaN,"[{'description': '', 'address1': '', 'address2...",[]
5691,weRead,NaN,NaN,network_hosting,Fri Sep 05 19:06:10 UTC 2008,$0,,NaN,"[{'description': '', 'address1': '', 'address2...",[]
10987,weSRCH,37.383368,-121.980186,other,Thu May 21 23:01:54 UTC 2009,$0,Internet Networking for Professionals,13.0,"[{'description': '', 'address1': '2880 Lakesid...",[]
257,webcrossing,37.794649,-122.399646,web,Sun Aug 12 11:38:27 UTC 2007,$0,,10.0,"[{'description': None, 'address1': '1 Embarcad...",[]
4061,webme,49.596464,11.003518,network_hosting,Sat Jul 12 22:10:58 UTC 2008,$0,free website builder,25.0,"[{'description': 'Headquarter', 'address1': 'R...","[{'id': 2938, 'round_code': 'angel', 'source_u..."
2387,weeloop,47.244960,-1.588593,games_video,Thu Apr 24 17:43:06 UTC 2008,$0,None,NaN,"[{'description': None, 'address1': '15 ter rue...",[]
11799,whatjobsite,51.500152,-0.126236,other,Thu Jun 18 16:06:52 UTC 2009,$0,online recruitment advertising advisor,NaN,"[{'description': 'HQ', 'address1': '', 'addres...",[]
2925,wheresbest,55.378051,-3.435973,search,Thu May 22 15:59:08 UTC 2008,$0,UK-Based Local Search And Review Site,1.0,"[{'description': None, 'address1': '', 'addres...",[]
9165,whistleBox,40.719712,-73.960754,games_video,Mon Feb 09 21:51:34 UTC 2009,$2.3M,user-generated video communities,NaN,"[{'description': '', 'address1': '80 North 7th...","[{'id': 5043, 'round_code': 'a', 'source_url':..."
2942,whynotad,42.449672,-79.327654,advertising,Fri May 23 05:54:50 UTC 2008,$0,Free Ads Free Classifieds,4.0,"[{'description': None, 'address1': '33 James P...",[]
5885,wiebia,NaN,NaN,other,Wed Sep 17 00:26:06 UTC 2008,$0,None,4.0,"[{'description': '1 office', 'address1': '20 d...",[]
3821,wikiHow,37.453657,-122.182037,web,Mon Jun 30 22:25:54 UTC 2008,$0,,NaN,"[{'description': 'Corporate Headquarters', 'ad...",[]
4404,worldtvradio,50.644418,-120.336645,software,Tue Jul 29 19:51:23 UTC 2008,$0,None,2.0,"[{'description': '', 'address1': '1962 Sapphir...",[]
566,wunderloop,NaN,NaN,advertising,Thu Sep 27 11:48:56 UTC 2007,$10M,,NaN,"[{'description': None, 'address1': '24 Grevill...","[{'id': 733, 'round_code': 'a', 'source_url': ..."
8308,xAssets,42.655778,-70.618443,None,Wed Jan 07 19:35:39 UTC 2009,$0,None,NaN,"[{'description': '', 'address1': '10 Broadway ...",[]
3177,ximl,-37.814251,144.963169,web,Wed Jun 04 12:37:21 UTC 2008,$0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[]
12296,xlr8 Technologies,35.766855,-78.780947,enterprise,Tue Jun 30 22:55:01 UTC 2009,$0,Online & Offline Business Solutions,NaN,"[{'description': 'HQ', 'address1': '1143B Exec...",[]
7923,xzapps,37.718140,-122.486349,software,Tue Dec 23 18:34:02 UTC 2008,$0,iPhone app generator,2.0,"[{'description': 'Office', 'address1': '', 'ad...",[]
9797,yiid,49.550756,8.675910,web,Tue Mar 17 18:48:26 UTC 2009,$0,Social Media Monitor and Identity Hub,9.0,"[{'description': 'yiid', 'address1': 'Grundelb...",[]
5192,youcalc,55.672869,12.558307,enterprise,Tue Sep 09 19:16:41 UTC 2008,$3.84M,Analytics for SaaS systems,8.0,"[{'description': 'youcalc', 'address1': 'Veste...","[{'id': 3401, 'round_code': 'seed', 'source_ur..."
5780,youcalc,55.672869,12.558307,enterprise,Tue Sep 09 19:16:41 UTC 2008,$3.84M,Analytics for SaaS systems,8.0,"[{'description': 'youcalc', 'address1': 'Veste...","[{'id': 3401, 'round_code': 'seed', 'source_ur..."
11727,youserbase,53.149670,8.200653,network_hosting,Wed Jun 17 12:56:41 UTC 2009,$0,Technology wiki,2.0,"[{'description': 'Headquarters', 'address1': '...",[]
579,zSlide,NaN,NaN,web,Fri Oct 05 07:14:40 UTC 2007,$0,,20.0,"[{'description': None, 'address1': '111 r Marc...",[]
5995,zSoup,NaN,NaN,search,Tue Sep 23 21:26:31 UTC 2008,$90k,None,5.0,"[{'description': 'Seoul Office', 'address1': '...","[{'id': 3490, 'round_code': 'seed', 'source_ur..."
3308,zanox,52.502642,13.446834,web,Tue Jun 10 14:12:51 UTC 2008,$0,,600.0,"[{'description': None, 'address1': 'Stralauer ...",[]
3066,zebraspot design,43.540164,-80.261776,network_hosting,Thu May 29 03:16:40 UTC 2008,$0,,2.0,"[{'description': None, 'address1': '111 Edinbu...",[]
3362,zintin,37.422876,-122.199368,mobile,Thu Jun 12 02:18:57 UTC 2008,$0,,3.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 25746, 'round_code': 'grant', 'source_..."
10393,zip realty,NaN,NaN,None,Tue Apr 21 01:29:35 UTC 2009,$0,None,NaN,"[{'description': 'Headquarters', 'address1': '...",[]
2619,zweitgeist,53.563564,9.926475,web,Thu May 08 14:11:54 UTC 2008,‚Ç¨500k,None,21.0,"[{'description': None, 'address1': 'Stahltwiet...","[{'id': 12752, 'round_code': 'unattributed', '..."
7226,zyntroPICS,45.523875,-122.670399,other,Fri Nov 28 20:52:05 UTC 2008,$0,Interactive Transmedia Story Production,5.0,"[{'description': '', 'address1': '', 'address2...",[]

In [11]:
def RemoveWhiteSpaces(row):
    row = row.replace(" ","")
    return row
df['total_money_raised'] = df['total_money_raised'].apply(RemoveWhiteSpaces)
df

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds
0,Digg,37.764726,-122.394523,news,Fri May 25 20:03:23 UTC 2007,$45M,user driven social content website,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h..."
1,Postini,37.506885,-122.247573,web,Fri Jun 08 12:19:51 UTC 2007,$0,None,NaN,"[{'description': None, 'address1': '959 Skyway...",[]
2,Flektor,34.025958,-118.379768,games_video,Thu May 31 21:11:51 UTC 2007,$0,None,NaN,"[{'description': None, 'address1': '8536 Natio...",[]
3,Geni,34.090368,-118.393064,web,Thu May 31 19:52:34 UTC 2007,$16.5M,Geneology social network site,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''..."
4,Fox Interactive Media,34.076179,-118.394170,web,Thu May 31 21:46:57 UTC 2007,$0,,0.0,"[{'description': '', 'address1': '407 N Maple ...",[]
5,Gizmoz,37.484130,-122.169472,web,Fri Jun 01 19:32:24 UTC 2007,$18.1M,Photo animation,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h..."
6,Helio,34.057498,-118.446596,mobile,Tue Jun 05 21:39:53 UTC 2007,$0,Mobile Virtual Network Operator,NaN,"[{'description': None, 'address1': '10960 Wils...",[]
7,StumbleUpon,37.775196,-122.419204,web,2007-06-01 09:28:13,$18.5M,Content discovery service,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':..."
8,Lala,37.451151,-122.154369,games_video,Tue Jun 05 12:20:29 UTC 2007,$44.2M,hub for online music discovery,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '..."
9,Slacker,33.022176,-117.081406,music,Mon Jun 04 08:45:22 UTC 2007,$73.1M,Music Personalization Suite,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '..."
10,Scribd,37.789634,-122.404052,news,Sat Jun 02 07:34:05 UTC 2007,$25.8M,Read Unlimited Books,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'..."
11,MeetMoi,40.757929,-73.985506,social,Thu Jun 07 11:41:44 UTC 2007,$5.58M,Mobile Dating,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '..."
12,Joost,40.746497,-74.009447,games_video,Sat Jun 09 07:05:30 UTC 2007,$45M,None,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '..."
13,Viacom,40.757725,-73.986011,web,Sat Jun 09 07:30:15 UTC 2007,$0,TV production,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[]
14,CBS,37.269175,-119.306607,news,Sat Jun 09 07:30:10 UTC 2007,$0,,NaN,"[{'description': None, 'address1': '', 'addres...",[]
15,Plaxo,37.387845,-122.055197,web,Sat Jun 09 14:18:54 UTC 2007,$28.3M,Contact Management,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '..."
16,Twitter,37.776805,-122.416924,social,Fri Jun 01 08:42:34 UTC 2007,$1.16B,Real time communication platform,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ..."
17,Facebook,37.416050,-122.151801,social,Fri May 25 21:22:15 UTC 2007,$2.43B,Social network,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'..."
18,eBay,37.295005,-121.930035,web,Wed Jun 06 13:03:13 UTC 2007,$6.7M,Online Marketplace,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '..."
19,Powerset,37.778613,-122.395289,search,Mon Jun 11 19:33:13 UTC 2007,$22.5M,,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '..."
20,Technorati,37.779558,-122.393041,advertising,Tue Jun 12 04:06:06 UTC 2007,$32.1M,Advertising platform/Publisher network,35.0,"[{'description': '', 'address1': '360 Post St....","[{'id': 23, 'round_code': 'c', 'source_url': '..."
21,SpinVox,NaN,NaN,messaging,Wed Dec 05 04:08:03 UTC 2007,$106M,Voice to Text service,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':..."
22,Mahalo,34.017606,-118.487267,web,Thu Jun 14 03:42:20 UTC 2007,$21M,Life long learning content,40.0,"[{'description': '', 'address1': '3525 Eastham...","[{'id': 323, 'round_code': 'a', 'source_url': ..."
23,Veoh,32.902266,-117.208340,games_video,Fri Aug 10 08:10:15 UTC 2007,$69.8M,Internet TV service,NaN,"[{'description': '', 'address1': '10180 Telesi...","[{'id': 33, 'round_code': 'b', 'source_url': '..."
24,Kyte,37.788482,-122.409173,games_video,Thu Jun 14 18:26:11 UTC 2007,$23.4M,Online & Mobile Video Platform,40.0,"[{'description': None, 'address1': '442 Post S...","[{'id': 32, 'round_code': 'a', 'source_url': '..."
25,AddThis,38.926172,-77.245195,advertising,Wed Jun 13 09:00:07 UTC 2007,$73M,Content Engagement,120.0,"[{'description': 'HQ - Virginia', 'address1': ...","[{'id': 27, 'round_code': 'a', 'source_url': '..."
26,Info,41.885619,-87.622309,web,Wed Aug 22 10:19:09 UTC 2007,$8.4M,None,NaN,"[{'description': None, 'address1': '180 North ...","[{'id': 426, 'round_code': 'a', 'source_url': ..."
27,JotSpot,37.437328,-122.159928,web,Wed Aug 22 10:30:16 UTC 2007,$5.2M,None,NaN,"[{'description': None, 'address1': '', 'addres...","[{'id': 427, 'round_code': 'a', 'source_url': ..."
28,OpenX,34.149471,-118.132747,advertising,Wed Jun 13 18:23:43 UTC 2007,$75.5M,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '..."
29,NetRatings,37.090240,-95.712891,web,Wed Aug 22 10:54:08 UTC 2007,$0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[]
...,...,...,...,...,...,...,...,...,...,...
12927,Atlantic BT,35.896906,-78.680678,web,Fri Jul 10 19:33:27 UTC 2009,$0,"Web Development, Web Design",30.0,"[{'description': 'Main Office', 'address1': '8...",[]
12928,InstantQ,37.369195,-122.036849,advertising,Fri Jul 10 21:41:12 UTC 2009,$0,Last Minute Restaurant Deals,3.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 52743, 'round_code': 'seed', 'source_u..."
12929,SEO Sumo,25.723408,-80.306331,public_relations,Fri Jul 10 20:39:39 UTC 2009,$0,Strategic SEO Services,5.0,"[{'description': 'Main Office', 'address1': '6...",[]
12930,NextLabs,37.553121,-122.301534,enterprise,Fri Jul 10 22:25:44 UTC 2009,$0,Information Risk Management Software,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[]
12931,Xray Imatek,NaN,NaN,biotech,Fri Jul 10 23:31:14 UTC 2009,‚Ç¨300k,Photon Counting Detectors,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':..."
12932,Optemo,NaN,NaN,web,Fri Jul 10 23:42:25 UTC 2009,$0,Online Shopping Platform,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[]
12933,iGuiders,NaN,NaN,web,Fri Jul 10 22:56:38 UTC 2009,$1.17M,Online Decision Technology,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's..."
12934,Treehouse,NaN,NaN,education,Fri Jul 10 20:14:38 UTC 2009,$19.4M,An interactive education platform,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u..."
12935,acrossair,51.517742,-0.116537,mobile,Sat Jul 11 01:56:22 UTC 2009,$0,iPhone app house,6.0,"[{'description': '198 High Holborn', 'address1...",[]
12936,Cameron Health,33.448010,-117.607717,medical,Sat Jul 11 03:14:21 UTC 2009,$121M,,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':..."
12937,Cantimer,37.484616,-122.181753,None,Sat Jul 11 03:35:13 UTC 2009,$2M,,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':..."
12938,SolarPower Israel,NaN,NaN,cleantech,Sat Jul 11 05:11:05 UTC 2009,$1.1M,,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's..."
12939,Celestial Semiconductor,37.386417,-121.929170,semiconductor,Sat Jul 11 05:48:32 UTC 2009,$2M,,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's..."
12940,MyChances,39.394564,-119.812079,consulting,Sat Jul 11 07:10:59 UTC 2009,$0,College admissions predictions,2.0,"[{'description': 'Headquarters', 'address1': '...",[]
12941,InSound Medical,37.512038,-121.998513,biotech,Sat Jul 11 07:40:12 UTC 2009,$11M,Hearing Devices,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':..."
12942,Purfresh,37.477008,-122.151599,cleantech,Sat Jul 11 06:11:39 UTC 2009,$62.7M,,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':..."
12943,Getyoo,50.839970,4.346472,mobile,Sat Jul 11 12:38:06 UTC 2009,‚Ç¨1.13M,NFC Events Solutions,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u..."
12944,Eazeeloans,NaN,NaN,web,Sat Jul 11 20:03:01 UTC 2009,$0,Loan advisory portal,25.0,"[{'description': 'Apex Finance & Marketing', '...",[]
12945,DocASAP,NaN,NaN,web,Sat Jul 11 23:13:52 UTC 2009,$800k,Online doctor and dentist appointments,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u..."
12946,EnterSys Group,29.848779,-95.504545,software,Sun Jul 12 08:17:20 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[]
12947,Axon Solutions,40.715887,-74.033251,software,Sun Jul 12 08:26:48 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '15 Exchange ...",[]
12948,Willdan Group,33.806525,-117.882314,other,Sun Jul 12 08:43:24 UTC 2009,$0,,385.0,"[{'description': '', 'address1': '2401 East Ka...",[]
12949,Intergy,37.701940,-121.936698,software,Sun Jul 12 08:36:38 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '11875 Dublin...",[]
12950,Contemporary Computer Services,40.775055,-73.088140,software,Sun Jul 12 08:52:57 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '200 Knickerb...",[]
12951,QSGI,26.705331,-80.041395,software,Sun Jul 12 08:57:51 UTC 2009,$0,,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[]
12952,Oriact,47.088219,8.437163,software,Sun Jul 12 11:47:21 UTC 2009,$0,Solutions for software development,NaN,"[{'description': '', 'address1': 'L√É¬§rchenweg ...",[]
12953,AfterLogic,40.793024,-74.323554,software,Sun Jul 12 13:05:23 UTC 2009,$0,.NET Email Components and Webmail,NaN,"[{'description': 'Livingston', 'address1': 'P....",[]
12954,Adhunk,NaN,NaN,advertising,Sun Jul 12 12:27:42 UTC 2009,$0,Online Admanager,3.0,"[{'description': 'Indian Office', 'address1': ...",[]
12955,EnteGreat Solutions,33.518885,-86.816068,software,Sun Jul 12 14:52:14 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '', 'address2...",[]
12956,EnteGreat,33.407786,-86.761302,enterprise,Sun Jul 12 14:53:40 UTC 2009,$0,,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '..."

In [12]:
df['currency'] = df['total_money_raised'].str[0]
df['total_money_raised'] = df['total_money_raised'].str[1:]

In [19]:
df

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds,currency
0,Digg,37.764726,-122.394523,news,Fri May 25 20:03:23 UTC 2007,45M,user driven social content website,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",$
1,Postini,37.506885,-122.247573,web,Fri Jun 08 12:19:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '959 Skyway...",[],$
2,Flektor,34.025958,-118.379768,games_video,Thu May 31 21:11:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '8536 Natio...",[],$
3,Geni,34.090368,-118.393064,web,Thu May 31 19:52:34 UTC 2007,16.5M,Geneology social network site,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''...",$
4,Fox Interactive Media,34.076179,-118.394170,web,Thu May 31 21:46:57 UTC 2007,0,,0.0,"[{'description': '', 'address1': '407 N Maple ...",[],$
5,Gizmoz,37.484130,-122.169472,web,Fri Jun 01 19:32:24 UTC 2007,18.1M,Photo animation,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h...",$
6,Helio,34.057498,-118.446596,mobile,Tue Jun 05 21:39:53 UTC 2007,0,Mobile Virtual Network Operator,NaN,"[{'description': None, 'address1': '10960 Wils...",[],$
7,StumbleUpon,37.775196,-122.419204,web,2007-06-01 09:28:13,18.5M,Content discovery service,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",$
8,Lala,37.451151,-122.154369,games_video,Tue Jun 05 12:20:29 UTC 2007,44.2M,hub for online music discovery,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '...",$
9,Slacker,33.022176,-117.081406,music,Mon Jun 04 08:45:22 UTC 2007,73.1M,Music Personalization Suite,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '...",$
10,Scribd,37.789634,-122.404052,news,Sat Jun 02 07:34:05 UTC 2007,25.8M,Read Unlimited Books,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'...",$
11,MeetMoi,40.757929,-73.985506,social,Thu Jun 07 11:41:44 UTC 2007,5.58M,Mobile Dating,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '...",$
12,Joost,40.746497,-74.009447,games_video,Sat Jun 09 07:05:30 UTC 2007,45M,None,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '...",$
13,Viacom,40.757725,-73.986011,web,Sat Jun 09 07:30:15 UTC 2007,0,TV production,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[],$
14,CBS,37.269175,-119.306607,news,Sat Jun 09 07:30:10 UTC 2007,0,,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
15,Plaxo,37.387845,-122.055197,web,Sat Jun 09 14:18:54 UTC 2007,28.3M,Contact Management,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '...",$
16,Twitter,37.776805,-122.416924,social,Fri Jun 01 08:42:34 UTC 2007,1.16B,Real time communication platform,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ...",$
17,Facebook,37.416050,-122.151801,social,Fri May 25 21:22:15 UTC 2007,2.43B,Social network,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",$
18,eBay,37.295005,-121.930035,web,Wed Jun 06 13:03:13 UTC 2007,6.7M,Online Marketplace,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '...",$
19,Powerset,37.778613,-122.395289,search,Mon Jun 11 19:33:13 UTC 2007,22.5M,,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '...",$
20,Technorati,37.779558,-122.393041,advertising,Tue Jun 12 04:06:06 UTC 2007,32.1M,Advertising platform/Publisher network,35.0,"[{'description': '', 'address1': '360 Post St....","[{'id': 23, 'round_code': 'c', 'source_url': '...",$
21,SpinVox,NaN,NaN,messaging,Wed Dec 05 04:08:03 UTC 2007,106M,Voice to Text service,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':...",$
22,Mahalo,34.017606,-118.487267,web,Thu Jun 14 03:42:20 UTC 2007,21M,Life long learning content,40.0,"[{'description': '', 'address1': '3525 Eastham...","[{'id': 323, 'round_code': 'a', 'source_url': ...",$
23,Veoh,32.902266,-117.208340,games_video,Fri Aug 10 08:10:15 UTC 2007,69.8M,Internet TV service,NaN,"[{'description': '', 'address1': '10180 Telesi...","[{'id': 33, 'round_code': 'b', 'source_url': '...",$
24,Kyte,37.788482,-122.409173,games_video,Thu Jun 14 18:26:11 UTC 2007,23.4M,Online & Mobile Video Platform,40.0,"[{'description': None, 'address1': '442 Post S...","[{'id': 32, 'round_code': 'a', 'source_url': '...",$
25,AddThis,38.926172,-77.245195,advertising,Wed Jun 13 09:00:07 UTC 2007,73M,Content Engagement,120.0,"[{'description': 'HQ - Virginia', 'address1': ...","[{'id': 27, 'round_code': 'a', 'source_url': '...",$
26,Info,41.885619,-87.622309,web,Wed Aug 22 10:19:09 UTC 2007,8.4M,None,NaN,"[{'description': None, 'address1': '180 North ...","[{'id': 426, 'round_code': 'a', 'source_url': ...",$
27,JotSpot,37.437328,-122.159928,web,Wed Aug 22 10:30:16 UTC 2007,5.2M,None,NaN,"[{'description': None, 'address1': '', 'addres...","[{'id': 427, 'round_code': 'a', 'source_url': ...",$
28,OpenX,34.149471,-118.132747,advertising,Wed Jun 13 18:23:43 UTC 2007,75.5M,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$
29,NetRatings,37.090240,-95.712891,web,Wed Aug 22 10:54:08 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
...,...,...,...,...,...,...,...,...,...,...,...
12927,Atlantic BT,35.896906,-78.680678,web,Fri Jul 10 19:33:27 UTC 2009,0,"Web Development, Web Design",30.0,"[{'description': 'Main Office', 'address1': '8...",[],$
12928,InstantQ,37.369195,-122.036849,advertising,Fri Jul 10 21:41:12 UTC 2009,0,Last Minute Restaurant Deals,3.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 52743, 'round_code': 'seed', 'source_u...",$
12929,SEO Sumo,25.723408,-80.306331,public_relations,Fri Jul 10 20:39:39 UTC 2009,0,Strategic SEO Services,5.0,"[{'description': 'Main Office', 'address1': '6...",[],$
12930,NextLabs,37.553121,-122.301534,enterprise,Fri Jul 10 22:25:44 UTC 2009,0,Information Risk Management Software,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[],$
12931,Xray Imatek,NaN,NaN,biotech,Fri Jul 10 23:31:14 UTC 2009,300k,Photon Counting Detectors,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':...",‚Ç¨
12932,Optemo,NaN,NaN,web,Fri Jul 10 23:42:25 UTC 2009,0,Online Shopping Platform,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[],$
12933,iGuiders,NaN,NaN,web,Fri Jul 10 22:56:38 UTC 2009,1.17M,Online Decision Technology,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's...",$
12934,Treehouse,NaN,NaN,education,Fri Jul 10 20:14:38 UTC 2009,19.4M,An interactive education platform,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",$
12935,acrossair,51.517742,-0.116537,mobile,Sat Jul 11 01:56:22 UTC 2009,0,iPhone app house,6.0,"[{'description': '198 High Holborn', 'address1...",[],$
12936,Cameron Health,33.448010,-117.607717,medical,Sat Jul 11 03:14:21 UTC 2009,121M,,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':...",$
12937,Cantimer,37.484616,-122.181753,None,Sat Jul 11 03:35:13 UTC 2009,2M,,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':...",$
12938,SolarPower Israel,NaN,NaN,cleantech,Sat Jul 11 05:11:05 UTC 2009,1.1M,,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's...",$
12939,Celestial Semiconductor,37.386417,-121.929170,semiconductor,Sat Jul 11 05:48:32 UTC 2009,2M,,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's...",$
12940,MyChances,39.394564,-119.812079,consulting,Sat Jul 11 07:10:59 UTC 2009,0,College admissions predictions,2.0,"[{'description': 'Headquarters', 'address1': '...",[],$
12941,InSound Medical,37.512038,-121.998513,biotech,Sat Jul 11 07:40:12 UTC 2009,11M,Hearing Devices,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':...",$
12942,Purfresh,37.477008,-122.151599,cleantech,Sat Jul 11 06:11:39 UTC 2009,62.7M,,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':...",$
12943,Getyoo,50.839970,4.346472,mobile,Sat Jul 11 12:38:06 UTC 2009,1.13M,NFC Events Solutions,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u...",‚Ç¨
12944,Eazeeloans,NaN,NaN,web,Sat Jul 11 20:03:01 UTC 2009,0,Loan advisory portal,25.0,"[{'description': 'Apex Finance & Marketing', '...",[],$
12945,DocASAP,NaN,NaN,web,Sat Jul 11 23:13:52 UTC 2009,800k,Online doctor and dentist appointments,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u...",$
12946,EnterSys Group,29.848779,-95.504545,software,Sun Jul 12 08:17:20 UTC 2009,0,,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[],$
12947,Axon Solutions,40.715887,-74.033251,software,Sun Jul 12 08:26:48 UTC 2009,0,,NaN,"[{'description': '', 'address1': '15 Exchange ...",[],$
12948,Willdan Group,33.806525,-117.882314,other,Sun Jul 12 08:43:24 UTC 2009,0,,385.0,"[{'description': '', 'address1': '2401 East Ka...",[],$
12949,Intergy,37.701940,-121.936698,software,Sun Jul 12 08:36:38 UTC 2009,0,,NaN,"[{'description': '', 'address1': '11875 Dublin...",[],$
12950,Contemporary Computer Services,40.775055,-73.088140,software,Sun Jul 12 08:52:57 UTC 2009,0,,NaN,"[{'description': '', 'address1': '200 Knickerb...",[],$
12951,QSGI,26.705331,-80.041395,software,Sun Jul 12 08:57:51 UTC 2009,0,,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[],$
12952,Oriact,47.088219,8.437163,software,Sun Jul 12 11:47:21 UTC 2009,0,Solutions for software development,NaN,"[{'description': '', 'address1': 'L√É¬§rchenweg ...",[],$
12953,AfterLogic,40.793024,-74.323554,software,Sun Jul 12 13:05:23 UTC 2009,0,.NET Email Components and Webmail,NaN,"[{'description': 'Livingston', 'address1': 'P....",[],$
12954,Adhunk,NaN,NaN,advertising,Sun Jul 12 12:27:42 UTC 2009,0,Online Admanager,3.0,"[{'description': 'Indian Office', 'address1': ...",[],$
12955,EnteGreat Solutions,33.518885,-86.816068,software,Sun Jul 12 14:52:14 UTC 2009,0,,NaN,"[{'description': '', 'address1': '', 'address2...",[],$
12956,EnteGreat,33.407786,-86.761302,enterprise,Sun Jul 12 14:53:40 UTC 2009,0,,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '...",$

In [30]:
def ChangeNonNumeric(row):
    row = str(row)
    try:
        if "B" in row:
            row = row.replace("B", "")
            row = float(row)*1000000000
        elif "M" in row:
            row = row.replace("M", "")
            row = float(row)*1000000
        elif "k" in row:
            row = row.replace("k", "")
            row = float(row)*1000
    except: row=None
    return row

In [31]:
df['total_money_raised'] = df['total_money_raised'].apply(ChangeNonNumeric)

In [32]:
df

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds,currency
0,Digg,37.764726,-122.394523,news,Fri May 25 20:03:23 UTC 2007,4.5e+07,user driven social content website,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",$
1,Postini,37.506885,-122.247573,web,Fri Jun 08 12:19:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '959 Skyway...",[],$
2,Flektor,34.025958,-118.379768,games_video,Thu May 31 21:11:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '8536 Natio...",[],$
3,Geni,34.090368,-118.393064,web,Thu May 31 19:52:34 UTC 2007,1.65e+07,Geneology social network site,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''...",$
4,Fox Interactive Media,34.076179,-118.394170,web,Thu May 31 21:46:57 UTC 2007,0,,0.0,"[{'description': '', 'address1': '407 N Maple ...",[],$
5,Gizmoz,37.484130,-122.169472,web,Fri Jun 01 19:32:24 UTC 2007,1.81e+07,Photo animation,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h...",$
6,Helio,34.057498,-118.446596,mobile,Tue Jun 05 21:39:53 UTC 2007,0,Mobile Virtual Network Operator,NaN,"[{'description': None, 'address1': '10960 Wils...",[],$
7,StumbleUpon,37.775196,-122.419204,web,2007-06-01 09:28:13,1.85e+07,Content discovery service,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",$
8,Lala,37.451151,-122.154369,games_video,Tue Jun 05 12:20:29 UTC 2007,4.42e+07,hub for online music discovery,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '...",$
9,Slacker,33.022176,-117.081406,music,Mon Jun 04 08:45:22 UTC 2007,7.31e+07,Music Personalization Suite,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '...",$
10,Scribd,37.789634,-122.404052,news,Sat Jun 02 07:34:05 UTC 2007,2.58e+07,Read Unlimited Books,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'...",$
11,MeetMoi,40.757929,-73.985506,social,Thu Jun 07 11:41:44 UTC 2007,5.58e+06,Mobile Dating,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '...",$
12,Joost,40.746497,-74.009447,games_video,Sat Jun 09 07:05:30 UTC 2007,4.5e+07,None,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '...",$
13,Viacom,40.757725,-73.986011,web,Sat Jun 09 07:30:15 UTC 2007,0,TV production,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[],$
14,CBS,37.269175,-119.306607,news,Sat Jun 09 07:30:10 UTC 2007,0,,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
15,Plaxo,37.387845,-122.055197,web,Sat Jun 09 14:18:54 UTC 2007,2.83e+07,Contact Management,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '...",$
16,Twitter,37.776805,-122.416924,social,Fri Jun 01 08:42:34 UTC 2007,1.16e+09,Real time communication platform,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ...",$
17,Facebook,37.416050,-122.151801,social,Fri May 25 21:22:15 UTC 2007,2.43e+09,Social network,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",$
18,eBay,37.295005,-121.930035,web,Wed Jun 06 13:03:13 UTC 2007,6.7e+06,Online Marketplace,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '...",$
19,Powerset,37.778613,-122.395289,search,Mon Jun 11 19:33:13 UTC 2007,2.25e+07,,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '...",$
20,Technorati,37.779558,-122.393041,advertising,Tue Jun 12 04:06:06 UTC 2007,3.21e+07,Advertising platform/Publisher network,35.0,"[{'description': '', 'address1': '360 Post St....","[{'id': 23, 'round_code': 'c', 'source_url': '...",$
21,SpinVox,NaN,NaN,messaging,Wed Dec 05 04:08:03 UTC 2007,1.06e+08,Voice to Text service,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':...",$
22,Mahalo,34.017606,-118.487267,web,Thu Jun 14 03:42:20 UTC 2007,2.1e+07,Life long learning content,40.0,"[{'description': '', 'address1': '3525 Eastham...","[{'id': 323, 'round_code': 'a', 'source_url': ...",$
23,Veoh,32.902266,-117.208340,games_video,Fri Aug 10 08:10:15 UTC 2007,6.98e+07,Internet TV service,NaN,"[{'description': '', 'address1': '10180 Telesi...","[{'id': 33, 'round_code': 'b', 'source_url': '...",$
24,Kyte,37.788482,-122.409173,games_video,Thu Jun 14 18:26:11 UTC 2007,2.34e+07,Online & Mobile Video Platform,40.0,"[{'description': None, 'address1': '442 Post S...","[{'id': 32, 'round_code': 'a', 'source_url': '...",$
25,AddThis,38.926172,-77.245195,advertising,Wed Jun 13 09:00:07 UTC 2007,7.3e+07,Content Engagement,120.0,"[{'description': 'HQ - Virginia', 'address1': ...","[{'id': 27, 'round_code': 'a', 'source_url': '...",$
26,Info,41.885619,-87.622309,web,Wed Aug 22 10:19:09 UTC 2007,8.4e+06,None,NaN,"[{'description': None, 'address1': '180 North ...","[{'id': 426, 'round_code': 'a', 'source_url': ...",$
27,JotSpot,37.437328,-122.159928,web,Wed Aug 22 10:30:16 UTC 2007,5.2e+06,None,NaN,"[{'description': None, 'address1': '', 'addres...","[{'id': 427, 'round_code': 'a', 'source_url': ...",$
28,OpenX,34.149471,-118.132747,advertising,Wed Jun 13 18:23:43 UTC 2007,7.55e+07,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$
29,NetRatings,37.090240,-95.712891,web,Wed Aug 22 10:54:08 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
...,...,...,...,...,...,...,...,...,...,...,...
12927,Atlantic BT,35.896906,-78.680678,web,Fri Jul 10 19:33:27 UTC 2009,0,"Web Development, Web Design",30.0,"[{'description': 'Main Office', 'address1': '8...",[],$
12928,InstantQ,37.369195,-122.036849,advertising,Fri Jul 10 21:41:12 UTC 2009,0,Last Minute Restaurant Deals,3.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 52743, 'round_code': 'seed', 'source_u...",$
12929,SEO Sumo,25.723408,-80.306331,public_relations,Fri Jul 10 20:39:39 UTC 2009,0,Strategic SEO Services,5.0,"[{'description': 'Main Office', 'address1': '6...",[],$
12930,NextLabs,37.553121,-122.301534,enterprise,Fri Jul 10 22:25:44 UTC 2009,0,Information Risk Management Software,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[],$
12931,Xray Imatek,NaN,NaN,biotech,Fri Jul 10 23:31:14 UTC 2009,300000,Photon Counting Detectors,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':...",‚Ç¨
12932,Optemo,NaN,NaN,web,Fri Jul 10 23:42:25 UTC 2009,0,Online Shopping Platform,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[],$
12933,iGuiders,NaN,NaN,web,Fri Jul 10 22:56:38 UTC 2009,1.17e+06,Online Decision Technology,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's...",$
12934,Treehouse,NaN,NaN,education,Fri Jul 10 20:14:38 UTC 2009,1.94e+07,An interactive education platform,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",$
12935,acrossair,51.517742,-0.116537,mobile,Sat Jul 11 01:56:22 UTC 2009,0,iPhone app house,6.0,"[{'description': '198 High Holborn', 'address1...",[],$
12936,Cameron Health,33.448010,-117.607717,medical,Sat Jul 11 03:14:21 UTC 2009,1.21e+08,,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':...",$
12937,Cantimer,37.484616,-122.181753,None,Sat Jul 11 03:35:13 UTC 2009,2e+06,,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':...",$
12938,SolarPower Israel,NaN,NaN,cleantech,Sat Jul 11 05:11:05 UTC 2009,1.1e+06,,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's...",$
12939,Celestial Semiconductor,37.386417,-121.929170,semiconductor,Sat Jul 11 05:48:32 UTC 2009,2e+06,,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's...",$
12940,MyChances,39.394564,-119.812079,consulting,Sat Jul 11 07:10:59 UTC 2009,0,College admissions predictions,2.0,"[{'description': 'Headquarters', 'address1': '...",[],$
12941,InSound Medical,37.512038,-121.998513,biotech,Sat Jul 11 07:40:12 UTC 2009,1.1e+07,Hearing Devices,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':...",$
12942,Purfresh,37.477008,-122.151599,cleantech,Sat Jul 11 06:11:39 UTC 2009,6.27e+07,,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':...",$
12943,Getyoo,50.839970,4.346472,mobile,Sat Jul 11 12:38:06 UTC 2009,1.13e+06,NFC Events Solutions,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u...",‚Ç¨
12944,Eazeeloans,NaN,NaN,web,Sat Jul 11 20:03:01 UTC 2009,0,Loan advisory portal,25.0,"[{'description': 'Apex Finance & Marketing', '...",[],$
12945,DocASAP,NaN,NaN,web,Sat Jul 11 23:13:52 UTC 2009,800000,Online doctor and dentist appointments,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u...",$
12946,EnterSys Group,29.848779,-95.504545,software,Sun Jul 12 08:17:20 UTC 2009,0,,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[],$
12947,Axon Solutions,40.715887,-74.033251,software,Sun Jul 12 08:26:48 UTC 2009,0,,NaN,"[{'description': '', 'address1': '15 Exchange ...",[],$
12948,Willdan Group,33.806525,-117.882314,other,Sun Jul 12 08:43:24 UTC 2009,0,,385.0,"[{'description': '', 'address1': '2401 East Ka...",[],$
12949,Intergy,37.701940,-121.936698,software,Sun Jul 12 08:36:38 UTC 2009,0,,NaN,"[{'description': '', 'address1': '11875 Dublin...",[],$
12950,Contemporary Computer Services,40.775055,-73.088140,software,Sun Jul 12 08:52:57 UTC 2009,0,,NaN,"[{'description': '', 'address1': '200 Knickerb...",[],$
12951,QSGI,26.705331,-80.041395,software,Sun Jul 12 08:57:51 UTC 2009,0,,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[],$
12952,Oriact,47.088219,8.437163,software,Sun Jul 12 11:47:21 UTC 2009,0,Solutions for software development,NaN,"[{'description': '', 'address1': 'L√É¬§rchenweg ...",[],$
12953,AfterLogic,40.793024,-74.323554,software,Sun Jul 12 13:05:23 UTC 2009,0,.NET Email Components and Webmail,NaN,"[{'description': 'Livingston', 'address1': 'P....",[],$
12954,Adhunk,NaN,NaN,advertising,Sun Jul 12 12:27:42 UTC 2009,0,Online Admanager,3.0,"[{'description': 'Indian Office', 'address1': ...",[],$
12955,EnteGreat Solutions,33.518885,-86.816068,software,Sun Jul 12 14:52:14 UTC 2009,0,,NaN,"[{'description': '', 'address1': '', 'address2...",[],$
12956,EnteGreat,33.407786,-86.761302,enterprise,Sun Jul 12 14:53:40 UTC 2009,0,,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '...",$

In [34]:
import requests

url = 'https://api.exchangerate-api.com/v4/latest/USD'
res = requests.get(url)
data = res.json()
display(data)

{'base': 'USD',
 'date': '2019-07-08',
 'time_last_updated': 1562544622,
 'rates': {'USD': 1,
  'AED': 3.672447,
  'ARS': 41.803825,
  'AUD': 1.42779,
  'BGN': 1.736857,
  'BRL': 3.809102,
  'BSD': 1,
  'CAD': 1.307062,
  'CHF': 0.988611,
  'CLP': 678.627263,
  'CNY': 6.877958,
  'COP': 3226.857143,
  'CZK': 22.603252,
  'DKK': 6.623543,
  'DOP': 51.181269,
  'EGP': 16.543945,
  'EUR': 0.888673,
  'FJD': 2.148714,
  'GBP': 0.796977,
  'GTQ': 7.696082,
  'HKD': 7.792684,
  'HRK': 6.569629,
  'HUF': 286.882019,
  'IDR': 14059.377611,
  'ILS': 3.565942,
  'INR': 68.488633,
  'ISK': 125.801622,
  'JPY': 108.176618,
  'KRW': 1170.942043,
  'KZT': 382.847458,
  'MXN': 19.013031,
  'MYR': 4.134743,
  'NOK': 8.569375,
  'NZD': 1.502484,
  'PAB': 1,
  'PEN': 3.292796,
  'PHP': 51.174677,
  'PKR': 155.77931,
  'PLN': 3.766339,
  'PYG': 6160.363636,
  'RON': 4.193526,
  'RUB': 63.548397,
  'SAR': 3.750195,
  'SEK': 9.382618,
  'SGD': 1.357481,
  'THB': 30.686814,
  'TRY': 5.635303,
  'TWD': 31.110392,
  'UAH': 25.638282,
  'UYU': 35.110881,
  'VND': 23391.071429,
  'ZAR': 14.123493}}

In [42]:
df['currency'].fillna(0)
df['new']=df['total_money_raised']+df['currency']

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [43]:
df

,name,latitud,longitud,category_code,created_at,total_money_raised,description,number_of_employees,offices,funding_rounds,currency
0,Digg,37.764726,-122.394523,news,Fri May 25 20:03:23 UTC 2007,4.5e+07,user driven social content website,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",$
1,Postini,37.506885,-122.247573,web,Fri Jun 08 12:19:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '959 Skyway...",[],$
2,Flektor,34.025958,-118.379768,games_video,Thu May 31 21:11:51 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '8536 Natio...",[],$
3,Geni,34.090368,-118.393064,web,Thu May 31 19:52:34 UTC 2007,1.65e+07,Geneology social network site,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''...",$
4,Fox Interactive Media,34.076179,-118.394170,web,Thu May 31 21:46:57 UTC 2007,0,,0.0,"[{'description': '', 'address1': '407 N Maple ...",[],$
5,Gizmoz,37.484130,-122.169472,web,Fri Jun 01 19:32:24 UTC 2007,1.81e+07,Photo animation,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h...",$
6,Helio,34.057498,-118.446596,mobile,Tue Jun 05 21:39:53 UTC 2007,0,Mobile Virtual Network Operator,NaN,"[{'description': None, 'address1': '10960 Wils...",[],$
7,StumbleUpon,37.775196,-122.419204,web,2007-06-01 09:28:13,1.85e+07,Content discovery service,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",$
8,Lala,37.451151,-122.154369,games_video,Tue Jun 05 12:20:29 UTC 2007,4.42e+07,hub for online music discovery,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '...",$
9,Slacker,33.022176,-117.081406,music,Mon Jun 04 08:45:22 UTC 2007,7.31e+07,Music Personalization Suite,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '...",$
10,Scribd,37.789634,-122.404052,news,Sat Jun 02 07:34:05 UTC 2007,2.58e+07,Read Unlimited Books,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'...",$
11,MeetMoi,40.757929,-73.985506,social,Thu Jun 07 11:41:44 UTC 2007,5.58e+06,Mobile Dating,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '...",$
12,Joost,40.746497,-74.009447,games_video,Sat Jun 09 07:05:30 UTC 2007,4.5e+07,None,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '...",$
13,Viacom,40.757725,-73.986011,web,Sat Jun 09 07:30:15 UTC 2007,0,TV production,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[],$
14,CBS,37.269175,-119.306607,news,Sat Jun 09 07:30:10 UTC 2007,0,,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
15,Plaxo,37.387845,-122.055197,web,Sat Jun 09 14:18:54 UTC 2007,2.83e+07,Contact Management,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '...",$
16,Twitter,37.776805,-122.416924,social,Fri Jun 01 08:42:34 UTC 2007,1.16e+09,Real time communication platform,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ...",$
17,Facebook,37.416050,-122.151801,social,Fri May 25 21:22:15 UTC 2007,2.43e+09,Social network,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",$
18,eBay,37.295005,-121.930035,web,Wed Jun 06 13:03:13 UTC 2007,6.7e+06,Online Marketplace,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '...",$
19,Powerset,37.778613,-122.395289,search,Mon Jun 11 19:33:13 UTC 2007,2.25e+07,,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '...",$
20,Technorati,37.779558,-122.393041,advertising,Tue Jun 12 04:06:06 UTC 2007,3.21e+07,Advertising platform/Publisher network,35.0,"[{'description': '', 'address1': '360 Post St....","[{'id': 23, 'round_code': 'c', 'source_url': '...",$
21,SpinVox,NaN,NaN,messaging,Wed Dec 05 04:08:03 UTC 2007,1.06e+08,Voice to Text service,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':...",$
22,Mahalo,34.017606,-118.487267,web,Thu Jun 14 03:42:20 UTC 2007,2.1e+07,Life long learning content,40.0,"[{'description': '', 'address1': '3525 Eastham...","[{'id': 323, 'round_code': 'a', 'source_url': ...",$
23,Veoh,32.902266,-117.208340,games_video,Fri Aug 10 08:10:15 UTC 2007,6.98e+07,Internet TV service,NaN,"[{'description': '', 'address1': '10180 Telesi...","[{'id': 33, 'round_code': 'b', 'source_url': '...",$
24,Kyte,37.788482,-122.409173,games_video,Thu Jun 14 18:26:11 UTC 2007,2.34e+07,Online & Mobile Video Platform,40.0,"[{'description': None, 'address1': '442 Post S...","[{'id': 32, 'round_code': 'a', 'source_url': '...",$
25,AddThis,38.926172,-77.245195,advertising,Wed Jun 13 09:00:07 UTC 2007,7.3e+07,Content Engagement,120.0,"[{'description': 'HQ - Virginia', 'address1': ...","[{'id': 27, 'round_code': 'a', 'source_url': '...",$
26,Info,41.885619,-87.622309,web,Wed Aug 22 10:19:09 UTC 2007,8.4e+06,None,NaN,"[{'description': None, 'address1': '180 North ...","[{'id': 426, 'round_code': 'a', 'source_url': ...",$
27,JotSpot,37.437328,-122.159928,web,Wed Aug 22 10:30:16 UTC 2007,5.2e+06,None,NaN,"[{'description': None, 'address1': '', 'addres...","[{'id': 427, 'round_code': 'a', 'source_url': ...",$
28,OpenX,34.149471,-118.132747,advertising,Wed Jun 13 18:23:43 UTC 2007,7.55e+07,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$
29,NetRatings,37.090240,-95.712891,web,Wed Aug 22 10:54:08 UTC 2007,0,None,NaN,"[{'description': None, 'address1': '', 'addres...",[],$
...,...,...,...,...,...,...,...,...,...,...,...
12927,Atlantic BT,35.896906,-78.680678,web,Fri Jul 10 19:33:27 UTC 2009,0,"Web Development, Web Design",30.0,"[{'description': 'Main Office', 'address1': '8...",[],$
12928,InstantQ,37.369195,-122.036849,advertising,Fri Jul 10 21:41:12 UTC 2009,0,Last Minute Restaurant Deals,3.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 52743, 'round_code': 'seed', 'source_u...",$
12929,SEO Sumo,25.723408,-80.306331,public_relations,Fri Jul 10 20:39:39 UTC 2009,0,Strategic SEO Services,5.0,"[{'description': 'Main Office', 'address1': '6...",[],$
12930,NextLabs,37.553121,-122.301534,enterprise,Fri Jul 10 22:25:44 UTC 2009,0,Information Risk Management Software,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[],$
12931,Xray Imatek,NaN,NaN,biotech,Fri Jul 10 23:31:14 UTC 2009,300000,Photon Counting Detectors,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':...",‚Ç¨
12932,Optemo,NaN,NaN,web,Fri Jul 10 23:42:25 UTC 2009,0,Online Shopping Platform,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[],$
12933,iGuiders,NaN,NaN,web,Fri Jul 10 22:56:38 UTC 2009,1.17e+06,Online Decision Technology,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's...",$
12934,Treehouse,NaN,NaN,education,Fri Jul 10 20:14:38 UTC 2009,1.94e+07,An interactive education platform,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",$
12935,acrossair,51.517742,-0.116537,mobile,Sat Jul 11 01:56:22 UTC 2009,0,iPhone app house,6.0,"[{'description': '198 High Holborn', 'address1...",[],$
12936,Cameron Health,33.448010,-117.607717,medical,Sat Jul 11 03:14:21 UTC 2009,1.21e+08,,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':...",$
12937,Cantimer,37.484616,-122.181753,None,Sat Jul 11 03:35:13 UTC 2009,2e+06,,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':...",$
12938,SolarPower Israel,NaN,NaN,cleantech,Sat Jul 11 05:11:05 UTC 2009,1.1e+06,,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's...",$
12939,Celestial Semiconductor,37.386417,-121.929170,semiconductor,Sat Jul 11 05:48:32 UTC 2009,2e+06,,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's...",$
12940,MyChances,39.394564,-119.812079,consulting,Sat Jul 11 07:10:59 UTC 2009,0,College admissions predictions,2.0,"[{'description': 'Headquarters', 'address1': '...",[],$
12941,InSound Medical,37.512038,-121.998513,biotech,Sat Jul 11 07:40:12 UTC 2009,1.1e+07,Hearing Devices,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':...",$
12942,Purfresh,37.477008,-122.151599,cleantech,Sat Jul 11 06:11:39 UTC 2009,6.27e+07,,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':...",$
12943,Getyoo,50.839970,4.346472,mobile,Sat Jul 11 12:38:06 UTC 2009,1.13e+06,NFC Events Solutions,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u...",‚Ç¨
12944,Eazeeloans,NaN,NaN,web,Sat Jul 11 20:03:01 UTC 2009,0,Loan advisory portal,25.0,"[{'description': 'Apex Finance & Marketing', '...",[],$
12945,DocASAP,NaN,NaN,web,Sat Jul 11 23:13:52 UTC 2009,800000,Online doctor and dentist appointments,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u...",$
12946,EnterSys Group,29.848779,-95.504545,software,Sun Jul 12 08:17:20 UTC 2009,0,,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[],$
12947,Axon Solutions,40.715887,-74.033251,software,Sun Jul 12 08:26:48 UTC 2009,0,,NaN,"[{'description': '', 'address1': '15 Exchange ...",[],$
12948,Willdan Group,33.806525,-117.882314,other,Sun Jul 12 08:43:24 UTC 2009,0,,385.0,"[{'description': '', 'address1': '2401 East Ka...",[],$
12949,Intergy,37.701940,-121.936698,software,Sun Jul 12 08:36:38 UTC 2009,0,,NaN,"[{'description': '', 'address1': '11875 Dublin...",[],$
12950,Contemporary Computer Services,40.775055,-73.088140,software,Sun Jul 12 08:52:57 UTC 2009,0,,NaN,"[{'description': '', 'address1': '200 Knickerb...",[],$
12951,QSGI,26.705331,-80.041395,software,Sun Jul 12 08:57:51 UTC 2009,0,,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[],$
12952,Oriact,47.088219,8.437163,software,Sun Jul 12 11:47:21 UTC 2009,0,Solutions for software development,NaN,"[{'description': '', 'address1': 'L√É¬§rchenweg ...",[],$
12953,AfterLogic,40.793024,-74.323554,software,Sun Jul 12 13:05:23 UTC 2009,0,.NET Email Components and Webmail,NaN,"[{'description': 'Livingston', 'address1': 'P....",[],$
12954,Adhunk,NaN,NaN,advertising,Sun Jul 12 12:27:42 UTC 2009,0,Online Admanager,3.0,"[{'description': 'Indian Office', 'address1': ...",[],$
12955,EnteGreat Solutions,33.518885,-86.816068,software,Sun Jul 12 14:52:14 UTC 2009,0,,NaN,"[{'description': '', 'address1': '', 'address2...",[],$
12956,EnteGreat,33.407786,-86.761302,enterprise,Sun Jul 12 14:53:40 UTC 2009,0,,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '...",$

In [40]:

df.loc[df.currency == 'EUR', 'total_money_raised'] = int(row*res['rates']['EUR'])

NameError: name 'row' is not defined

In [41]:
df['total_money_raised']=df['total_money_raised'].apply(exchangeRate)

KeyError: 45000000

In [ ]:
def exchangeRate (row):
    if df["currency"] == 'EUR'
    if currency.startswith("‚Ç¨"):
        currency = currency.replace("‚Ç¨","")
        currency = int(currency*res['rates']['EUR'])
    if currency.startswith("$"): 
        currency = currency.replace("$","") 
        currency = int(currency*res['rates']['USD'])
    if currency.startswith("¬£"):
        currency = currency.replace("¬£","")
        currency = int(currency*res['rates']['GPB'])
    if currency.startswith('C$'):
        currency = currency.replace("C$","")
        currency = int(currency*res['rates']['SEK'])
    return currency

In [ ]:
from currency_converter import CurrencyConverter
from datetime import date

def currency_convert(row):
    c = CurrencyConverter()
    amount = row['total_money_raised']
    curr = row['currency']
    new_currency = c.convert(amount,curr,'USD',date=date(2019, 1, 1))

    return new_currency

df['USD_converted'] = df['total_money_raised'].apply(currency_convert) # axis=1

In [ ]:
df

In [ ]:
df.head()